
:root{
    --main-color:#f2cb74;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Cairo", sans-serif;
}

.container{
    /* background-color: red; */
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* start settigns box */
.settings-box{
position: fixed;
/* should be -200px */
left: -200px;
/* left: 0; */
width: 200px;
min-height: 100vh;
z-index: 10;
background-color: #fffffff2;
transition: .3s;
padding: 10px;

}

.settings-box.opened{
    left: 0;
}
.settings-box .gear-icon{
    background-color: #fffffff2;
    position: absolute;
    left: 200px;
    top: 145px;
    /* padding: 5px 10px; */
    border-radius: 3px;
    cursor: pointer;
}
.settings-box .gear-icon i{
    padding: 10px;
}

.settings-box .option-box{
    padding: 10px;
    background-color: #eee;
    text-align: center;
    margin-bottom: 10px;
}

.settings-box .option-box h4{
    margin-bottom: 5px;
    color: #666;
    
}

.settings-box .option-box .colors-list{
    list-style: none;
    text-align: center;
    cursor: pointer;

}

.settings-box .option-box .colors-list li{
    text-decoration: none;
    opacity: .6;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333;
    display: inline-block;
    box-sizing: border-box; /* Add this line */
}

.settings-box .option-box .colors-list li.active{
    opacity:1;

}

.settings-box .option-box .colors-list li:first-child{
    background-color: #f2cb74;
}
.settings-box .option-box .colors-list :nth-child(2){
    background-color: #E91E63;
}

.settings-box .option-box .colors-list :nth-child(3){
    background-color: #009688;
}

.settings-box .option-box .colors-list :nth-child(4){
    background-color: #03A9F4;
}
.settings-box .option-box .colors-list :nth-child(5){
    background-color: #03F5DA;
}



.settings-box .option-box .yes,
.settings-box .option-box .no{

    padding: 5px 15px;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    opacity: .5;
}

.settings-box .option-box .yes{
    background-color: #009688;
}

.settings-box .option-box .no{
    background-color: red;
}

.settings-box .option-box .active{
    opacity: 1;
}

.reset-option{
    width: 100%;
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 13px;

}

/* end settings box */


/* start landing page */
.landing-page{
    min-height: 100vh;
    background-image: url("../imgs/img1.jpg");
    background-size: cover;
    position: relative;
}
.overlay{
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
}
.landing-page .header{
    position: relative;
    color: white;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: white;
}

.landing-page .logo{
 font-size: 17px;
 font-weight: 700;
}

.landing-page .logo.disappear{
    color: transparent;
}
.landing-page .links ul{
    list-style: none;
    display: flex;
}
.landing-page .links ul li{
    margin-left: 30px;
}
.landing-page .links ul li a{
    text-decoration: none;
    color: white;
    transition: .3s;
}
.landing-page .links ul li a:hover,
.landing-page .links ul .active{
    color: var(--main-color);
}

.intro-text{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: white;
    z-index: 2;
    text-align: center;
    /*  i don't know if it's correct */
    max-width: 500px;
}
.intro-text span{
    color: var(--main-color);
}
.intro-text h1{
    font-weight: 800;
    font-size: 34px;
}
.intro-text p{
    line-height: 1.4;
    font-size: 20px;
}
/* end landing page */


/* start about us */
.about-us{
    padding: 50px 0;
    display: flex;
}
.about-us .info{
    padding-top: 20px;
    flex: 1;

}
.about-us .info h2{
    font-weight: 800;
    font-size: 30px;
    color: var(--main-color);
}
.about-us .info p{
    line-height: 1.8;
    color: #777;
    margin: 0;
}

.about-us .image {
    flex: 1;
    text-align: center;
}

.about-us .image img{
    width: 250px;
}
/* end about us */

/* start out skills */
.skills{
    padding: 50px 0;   
    background-color: #eee; 
}

.skills h2{
    font-weight: 800;
    font-size: 30px;
    color: var(--main-color);
    text-align: center;
}

.skills .skill-box{
    background-color: #fff;
    padding: 15px;
    margin: 15px;
    display: flex;
}

.skills .skill-box .skill-name{
    font-weight: bold;
    width: 100px;
    text-align: center;
    

}

.skills .skill-box .skill-progress{
    background-color: #f6f6f6;
    height: 30px;
    width: calc(100% - 110px);
    border-radius: 6px;
    position: relative;
}

.skills .skill-box .skill-progress span{
    position: absolute;
    background-color: var(--main-color);
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 6px;
    transition: all .5s;
}
/* end our skills */


/* start out Gallery */
.gallery{
    padding: 50px 0;   
}

.gallery h2{
    font-weight: 800;
    font-size: 30px;
    color: var(--main-color);
    text-align: center;
}

.gallery .images{
    text-align: center;
}

.gallery .images img{
    width: 200px;
    height: 150px;
    margin: 5px;
    padding: 3px;
    border: 1px solid #CCC;
    background-color: #f6f6f6;
    cursor: pointer;
}

.popup-overlay{
    position: fixed;
    background-color: rgba(0, 0, 0,.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
}

.popup-box{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1001;
    width: 500px;
    height: 400px;
    padding: 0 20px;
}
.popup-box img{
    width: 100%;
    height: calc(100% - 50px);
}
.popup-box h3{
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
}

.btn-closed{
    position: absolute;
    top: -18px;
    right: -13px;
    font-size: 19px;
    background-color: red;
    color: white;
    font-weight: 800;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    font-family: Arial, Tahoma;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* end out Gallery */


/* start timeline */

.timeline{
    padding: 50px 0;   
    background-color: #eee;
}

.timeline .timeline-content{
    position: relative;
    overflow: hidden;
}
.timeline .timeline-content::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: var(--main-color);
    left: 50%;
    top: 0;
}

.timeline .timeline-content .year{
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    padding: 2px 5px;
    font-weight: bold;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
.timeline .timeline-content .left{
    float: left;
}

.timeline .timeline-content .left:before,
.timeline .timeline-content .right:before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid var(--main-color);
    top: 20px;

}
.timeline .timeline-content .left:before{
    right: -35px;


}

.timeline .timeline-content .right:before{
    left: -33px;


}
.timeline .timeline-content .right{
    float:right
}

.timeline-content .content{
    padding: 20px;
    background-color: #fff;
}

.timeline .container h3{
    font-weight: bold;
    color: var(--main-color);
}

.timeline .container p{
    color: #666;
    margin: 0;
    line-height: 1.6;
}

.clear{
    clear: both;
}


.timeline .timeline-content .left .content:before,
.timeline .timeline-content .right .content:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    /* border-color: transparent transparent transparent red; */
    border-width: 10px;
    /* right: -20px; */
}

.timeline .timeline-content .left .content:before{
    right: -20px;
    border-color: transparent transparent transparent #fff;
}

.timeline .timeline-content .right .content:before{
    left: -20px;
    border-color: transparent #fff transparent transparent;

}
/* end timeline */


/* start features */
.features{
    padding: 50px 0;  


}

.features h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin-bottom: 20px;
    text-align: center;
}

.features .feat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.features .feat-box{
    width: calc(100% / 3);
    text-align: center;
    margin-bottom: 40px;

    
}

.feat-box img{
    width: 100px;
    height: 100px
}

.feat-box h4{
    font-size: 20px;
    position: relative;
    margin-bottom: 20px;
}
.feat-box h4::before{
    content: "";
    width: 50%;
    width: 40px;
    height: 3px;
    background-color: var(--main-color);
    left: calc(50% - 21px);
    bottom: -10px;
    position: absolute;

}

.feat-box p{
    width: 80%;
    margin: 0 auto;
    line-height: 1.6;
    color: #707070;
}
/* end features */


/* start testimonials */
.testimonials{
    position: relative;
    padding: 80px 0;
}


.testimonials::before,
.testimonials::after{
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    top: 0;
}
.testimonials::before{
    right: 0;
    background-color: #333;

}
.testimonials::after{
    left: 0;
    background-color: var(--main-color);
    
}
.testimonials h2{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin-bottom: 0 0 60;
    text-align: left;
    z-index: 2;
    position: relative;
    
}

.testimonials .ts-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.testimonials .ts-box{
    z-index: 2;
    position: relative;
    width: calc(98% / 3);
    padding: 15px;
    background-color: #fff;
    font-size: 22px;
    border-radius: 10px;

}


.testimonials .ts-box>p{

    margin: 0 0 10px;
    line-height: 1.6;
    font-size: 18px;
    color: #777;
    font-style: italic;
}

.testimonials .ts-box .person-info{
    display: flex;
    align-items: center;
}

.testimonials .ts-box .person-info img{
    border-radius: 50%;
    margin-right: 17px;
}

.testimonials .ts-box .person-info .text {
    line-height: 1.5;
}
.testimonials .ts-box .person-info .text h4{
    font-size: 20px;
}

.testimonials .ts-box .person-info .text p{
    font-size: 15px;
    color: #777;
}

/* end testimonials */


/* start nav bullet  */
.nav-bullets{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 1000;
}
.bullet{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    margin: 20px;
    cursor: pointer;
    position: relative;
}

.nav-bullets .bullet .tooltip{
    background-color: var(--main-color);
    color: #fff;
    padding: 2px 7px;
    position: absolute;
    right: 35px;
    top: -9px;
    width: 120px;
    font-size: 14px;
    text-align: center;
    pointer-events: none;
    cursor: default;
    display: none;
    border-radius: 10px;

}

.bullet:hover .tooltip{
    display: block;
}
.nav-bullets .bullet .tooltip::before{
    content: "";
    position: absolute;
    top: 5px;
    right: -19px;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent transparent var(--main-color);
 
}
/* end nav bullet  */